[user]
    name = Kazuhisa Hara
    email = kazuhisya@gmail.com
    signingkey = <key>
#[includeIf "gitdir:~/src/work/"]
#    path = ~/.gitconfig-work
#
#    [user]
#        email = <mail>
#        signingkey = <key>
[color]
    ui = true
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[core]
    editor = vim -c \"set fenc=utf-8\"
    attributesfile = ~/.gitattributes
[alias]
    st = status
    up = pull --rebase
    ci = commit -a
    gr = log --graph --decorate
    ol = log --graph --decorate --oneline
    br = branch
    co = checkout
    log-auther = shortlog -sne
    squash = rebase -i head~~
[push]
    default = matching
[http]
    sslVerify = false
[credential]
    helper = osxkeychain
[diff "xlsx"]
    binary = true
    textconv = $GOPATH/bin/git-xlsx-textconv
[gpg]
    program = /usr/local/bin/gpg
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
